.container {
  display: inline-block;
  width: 800px;
  border: 2px solid pink);
}
.kairysis-stulpelis {
  width: 40%;
  float: left;
  border: 2px solid pink);
  margin-top: 150px;
}
.desinysis-stulpelis {
  width: 60%;
  float: left;
  border: 2px solid pink);
}
