@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
.lentele {
  margin-left: 10%;
  margin-top: 15%;
}
.label {
  color: rgb(151, 151, 151);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  margin-top: 8%;
}
input {
  width: 80%;
  height: 22px;
  border: none;
  border-bottom: rgb(197, 194, 194) 1px solid;
}
.pastaba {
  display: block;
  max-width: 80%;
  font-size: 16px;
  text-align: right;
}
.des-apacia {
  display: block;
  padding-top: 13%;
  padding-bottom: 10%;
  /*border: purple 1px solid;*/
  max-width: 90%;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
.button {
  display: inline-block;
}
.arba {
  display: inline-block;
  margin-left: 5%;
  margin-right: 3%;
}
.action {
  /*border: purple 1px solid;*/
  display: inline-block;
  font-size: 22px;
  text-shadow: chartreuse 1px 1px;
}
.action > a {
  color: rgb(4, 27, 161);
}
.pamirsoteslaptazodi {
  display: inline-block;
  margin-left: 10%;
  margin-top: 16%;
  margin-bottom: 10%;
  margin-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}
