@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Fitz_Roy_1.jpg);
  background-size: 100%, auto;
  display: block;
}
.container{
  display: inline-block;
  width: 80%;
  border: rgb(224, 150, 208) 2px solid;
  margin-top: 10%;
  margin-left: 10%;
}
.kairysis-stulpelis {
  border: rgb(224, 150, 208) 2px solid;
  width: 40%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Fitz_Roy_1.jpg);
  background-size: 100% auto;
}
}
.desinysis-stulpelis {
  border: rgb(224, 150, 208) 2px solid;
  width: 40%;
  float: right;
}