body {
  background-color: #44b2c8;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/20180819_ReuttenerSeilbahn_vorZugspitze_blau_DSC00935_PtrQs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}
.container {
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-column {
  width: 40%;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #3f52b2;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/20180819_ReuttenerSeilbahn_vorZugspitze_blau_DSC00935_PtrQs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

h1 {
  text-shadow: rgb(4, 4, 85) 2px 2px;
}
.bottom-text a {
  color: rgb(255, 255, 255);
}
a {
  color: rgb(185, 57, 57);
}

.right-column {
  width: 60%;
  float: right;
  padding: 60px;
  background-color: #fff;
  position: relative;
}
::placeholder {
  color: rgb(90, 128, 115);
}
.close {
  /* background-color: burlywood;*/
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 60px;
}
